## compiled code
useDynLib(riojaExtra, .registration=TRUE)

## Imports
##

## mgcv
importFrom(stats, na.omit)

## grDevices
importFrom("vegan", "make.cepnames")

## export regular functions with dot names
export(read.CEP, read.Tilia, write.CEP)


## Registration of S3 methods
import(rioja)
import(stats)
import(graphics)
# import(vegan)
import(utils)

